
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<style>
    .ms-n5 {
        margin-left: -40px;
        height:40px;
    }
    .rounded-pill {
        height:40px;
    }
</style>

<div class="row">
    <div class="col-md-4 mx-auto" style="text-align:right">
        <button class="btn btn-warning"
        hx-get="/workouts" hx-push-url="true" hx-target="#content" hx-swap="innerHTML" hx-indicator="#content-loader">
            Back to Workouts
        </button>
        
    </div>
    <div class="col-md-4 mx-auto">
    </div>
    <div class="col-4">
    </div>
</div>

<div class="row" id="search-results">
    {% comment %} <input name="workout_pk" id="workout_pk" value="{{workout.pk}}" hidden/> {% endcomment %}
    <form>
        <input name="name" value="{{workout.name}}"/>
        <br>
        {%for exerciseset in workout.exerciseset_set.all%}
        {% with counter=exerciseset.order_in_workout%}
        {%include 'tracker/add_exercise_set.html'%}
        {%endwith%}
        {%endfor%}
        <br>
        <div id="exercise-set">
            <button class="btn btn-warning"
                hx-get="/add-exercise-set/{{workout.pk}}/{{workout.exerciseset_set.all.count}}" hx-push-url="false" hx-target="#exercise-set" hx-swap="outerHTML" hx-indicator="#content-loader">
                    Add Set {{workout.exerciseset_set.all.count}}
            </button>
        </div>
        <button class="btn btn-primary"
            hx-post="/edit-workout/{{workout.pk}}" hx-push-url="false" hx-indicator="#content-loader">
                Save
        </button>
        
    </form>
</div>