{%extends 'tracker/base.html'%}
{%load static%}
{%block body%}
        <nav class="navbar navbar-expand-lg navbar-light bg-light" style="width:100%">
                <div class="container-fluid">
                        <a class="navbar-brand" href="{% url 'index' %}"><i class="fa-solid fa-house"></i></a>
                        {% comment %} <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                        </button> {% endcomment %}

                        <ul class="navbar-nav">
                                <li class="nav-item" hx-get="{% url 'exercise-catalogue' %}" hx-push-url="true"
                                        hx-target="#content" hx-swap="innerHTML" 
                                        hx-indicator="#content-loader"><i class="fa-solid fa-list"></i></li>
                                
                        </ul>

                        <span class="d-flex">
                        {%if user.is_authenticated%}
                                <div class="btn-group">
                                        <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                <img class="profile_picture" src="{%if request.user.profile.pictures%}{{request.user.profile.pictures.latest.image.url}}{%else%}{% static 'img/default_profile.jpg' %}{%endif%}" alt="Avatar">
                                                {{request.user.profile.display_name}}
                                        </button>
                                        <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li>
                                                <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                                        </ul>
                                </div>
                        {%else%}
                                <a class="nav-link" href="{% url 'login' %}">Login</a>
                                <a class="nav-link" href="{% url 'sign-up' %}">Sign up</a>
                        {%endif%}
                        </span>
                </div>
        </nav>

        <progress id="content-loader" class="htmx-indicator" max="100"></progress>

        <div id="content" style="width:100%">
                {% block content %}
                <div class="row" id="index-display" style="width:100%">
                        <div class="col" hx-get="{% url 'exercise-catalogue' %}" hx-push-url="true"
                                hx-target="#content" hx-swap="innerHTML" 
                                hx-indicator="#content-loader" style="max-width:90%; text-align:center">
                                <h5 style="text-align:center">Exercise Catalogue</h5>
                                <img style="max-width:90%;" src="{% static 'img/catalogue.jpg' %}"/>
                        </div>
                        
                        {%if request.user.is_authenticated%}
                        <div class="col" 
                                onClick="window.location.href = '{% url 'workouts' %}'" style="max-width:90%; text-align:center">
                                <h5 style="text-align:center">Workouts</h5>
                                <img style="max-width:90%;" src="{% static 'img/catalogue.jpg' %}"/>
                        </div>

                        <div class="col" 
                                onClick="window.location.href = '{% url 'weighins' %}'" style="max-width:90%; text-align:center">
                                <h5 style="text-align:center">Weigh Ins</h5>
                                <img style="max-width:90%;" src="{% static 'img/catalogue.jpg' %}"/>
                        </div>
                        {%endif%}
                        
                        {%if request.user.is_superuser%}
                        <div class="col" 
                                onClick="window.location.href = '{% url 'exercise-create' %}'" style="max-width:90%; text-align:center">
                                <h5 style="text-align:center">Create Exercise</h5>
                                <img style="max-width:90%;" src="{% static 'img/catalogue.jpg' %}"/>
                        </div>
                        {%endif%}
                </div>
                {% endblock %}
        </div>
{%endblock%}