<button class="btn btn-warning"
    hx-get="/add-weighin/" hx-push-url="false" hx-target="#add-weighin" hx-swap="innerHTML" hx-indicator="#content-loader">
    Add Weigh In
</button>

<div id="add-weighin">
</div>


<table  class="table">
    <thead>
        <tr>
            <th scope="col">
                Weight
            </th>
            <th scope="col">
                Date
            </th>
        </tr>
    </thead>
    <tbody>
        {%for weighin in weighins%}
        <tr>
            <td hx-get="/convert_weight_from_grams_htmx_handler/" hx-push-url="false"
                hx-swap="innerHTML" 
                hx-indicator="#weight_{{weighin.pk}}" 
                id="#weight_{{weighin.pk}}" 
                hx-trigger="revealed"
                hx-include="#weight_unit_choice_{{weighin.pk}}, #weight_float_{{weighin.pk}}"
            >
                <input hidden id="weight_unit_choice_{{weighin.pk}}" name="weight_unit_choice" value="{{user.profile.weight_unit}}"/>
                <input hidden id="weight_float_{{weighin.pk}}" name="weight_float" value="{{weighin.weight}}"/>
                <img class="htmx-indicator-small" src="https://htmx.org/img/bars.svg"/>
            </td>
            <td>
                {{weighin.recorded}}
            </td>
        </tr>
        {%endfor%}
    </tbody>
</table>